<div class="card test-panel">
  <div class="card-header">
      <h4>Question#: 1</h4>
  </div>
  <form action="/online-test/test-question?test=nodejs" method="post" id="questionForm">

      <div class="card-body">
         <h1><pre>Node.js runs on __________</pre></h1>

          <div id="radio">
              <br>
              <div class="input-group ">
                  <div class="input-group-prepend">
                      <div class="input-group-text">
                          A
                          <input type="radio" id="radio1" value="1" name="radio" onselect="alert('clicke')">
                      </div>
                  </div>
                  <label for="radio1" class="form-control test-option ">Client </label><br>
              </div>
              <br>
              <div class="input-group ">
                  <div class="input-group-prepend">
                      <div class="input-group-text">
                          B
                          <input type="radio" id="radio2" value="2" name="radio">
                      </div>
                      </div>
                      <label for="radio2" class="form-control test-option ">Server </label>
                  </div>
              <br>
              <div class="input-group ">
                  <div class="input-group-prepend">
                      <div class="input-group-text">
                          C

                          <input type="radio" id="radio3" value="3" name="radio">
                      </div>
                      </div>
                      <label for="radio3" class="form-control test-option ">Both, server and client</label>
                  </div>
              <br>
              <div class="input-group ">
                  <div class="input-group-prepend">
                      <div class="input-group-text">
                          D
                          <input type="radio" id="radio4" value="4" name="radio">
                      </div>
                      </div>
                      <label for="radio4" class="form-control test-option ">None of the above</label>
                  </div>
              <br>
          </div>
          <input data-val="true" data-val-number="The field questionID must be a number." data-val-required="The questionID field is required." id="questionID" name="questionID" type="hidden" value="1">
          <input type="hidden" name="answers">
          <input type="hidden" name="subject" value="nodejs">
          <input id="selectedAnswer" name="selectedAnswer" type="hidden" value="1">

      </div>
      <div class="card-footer">
              <input type="submit" value="Next »" class="btn btn-primary" onclick="setAnswer();">
      </div>
  </form>
</div>
